<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WechatMsgBox</title>
</head>
<body>
    <script id="comment-template" type="text/x-lodash-template">
        <div class="comment">
          <div class="comment-body"><%= comment %></div>
          <div class="commenter">
            <p>
              <span class="posted-by">Posted By: </span>
              <%= commenter %>
            </p>
          </div>
        </div>
    </script>
</body>
</html>