body {
    margin: 5px;
    min-height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.messageBoxPanel {
    flex: 1;
    width: 99%;
    margin-bottom: 4px;
    border: 1px solid #ccc;
}

.msginput {
    textarea {
        width: 99%;
    }
}

.systemTextMessage {
    color: gray;
}